img1{
    border-radius: 75%;
}

#body{
    text-align: center;
}

#hobby{
  background-color: aquamarine;  
}

.menu{
    list-style: none;
    font-family: cursive;
    float: right;
    top: 10px;
    right: 30px;
    cursor: pointer;
color: black;
}

#name{
    font-family: 'courgette', cursive;
}

#about{
    background-color: deeppink;
}

#books{
  background-color: aquamarine;
}